body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width: 100%;
}

/*CUSTOMIZACAO DA DIV PRINCIPAL */
.principal{
    background-color: magenta;
    padding: 30px;
    margin: 0px;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: brown;
    background-color: rgb(146, 140, 126);
    padding: 50px;
    margin: 0px;
}

.titulo2{
    color: rgb(146, 140, 126);
    font-family: Arial, Helvetica, sans-serif;
}


/*ESTILIZACAO DA DIV BENEFICIOS */
.beneficios{
    background-color: rgb(146, 140, 126);
    padding: 30px;
    margin: 0px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
    line-height: 1.5;
}

.itens{ /*ITENS DA LISTA - CADA BOLINHA*/
    font-style: italic;
}

.imagembeneficios{ /*IMAGEM DO HOMEM BARBUDO*/
    width: 60%;
}