body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: brown;
    background-color: burlywood;
    padding: 50px;
    margin: 0px;
}

.titulo2{
    color: mediumaquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    background-color: magenta;
    padding: 30px;
    margin: 0px;
}





.beneficios{
    background-color: red;
    padding: 30px;
    margin: 0px;
}

ul{
    
}